<web-app xmlns="http://java.sun.com/xml/nx/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
		<servlet>
			<servlet-name>Contact</servlet-name>
			<servlet-class>Contact</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Contact</servlet-name>
			<url-pattern>/Contact</url-pattern>
		</servlet-mapping>
		
</web-app>
